@font-face {
    font-family: 'FreeMonoBoldOblique';
    src: url('../fonts/FreeMonoBoldOblique.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
    z-index: -1;
}

body {
    /* overflow: hidden; */
    margin:2% 25%;
    font-size: 34px;
    color: lightyellow;
    background: rgb(71,171,171);
    z-index: -1;
}

header {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 5%;
}

img {
    display: block;
    margin: auto;
    padding: 5% 0;
    max-width:100%;
    height:auto;
}

figure {
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 0;
  width:100%;
}

figcaption {
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

h1{
    font-size: 40px;
    font-family: "Montserrat";
    text-align: center;
}

#icoTheme h1 {
    text-align: left;
}

h2{
    font-family: "Montserrat";
    text-align: center;
}


canvas {
    margin: auto;
    display: block;
    width: 25vw;
    height: 25vw;
    cursor: pointer;
}

#rotation {
    padding: 2px 2px;
    max-width:10%;
}


.theme {
    display: none;
}

#icoTheme {
  scroll-margin-top: 25vh;
}

a:link {
    color: white;
    /* text-decoration: none; */
}

a:visited {
    color: lightskyblue;
}

a:focus {
}

a:hover {
    color: lightpink;
}

a:active {
}

footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    font-family: 'FreeMonoBoldOblique';
    font-size: 34px;
    margin: 10% 10%;
}

/* Media query to hide side columns and top/bottom rows on small screens */
@media (max-width: 1000px) {

    body {
        margin:5% 5%;
    }

    canvas {
        touch-action: none;
        margin: auto;
        display: block;
        width: 50vw;
        height: 50vw;
    }
}
